@model ProSoft.Models.ApartmentsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h1>Квартиры</h1>
</div>

<div class="row mt-3">
    <form asp-action="Index" method="get">
        <p>
            Фильтр по адресу: <input type="text" name="SearchString" value="@ViewData["SearchString"]" />
            <button type="submit" class="btn btn-primary btn-sm mb-1">
                Применить
            </button>
            <a asp-action="Index">
                Очистить
            </a>
        </p>
    </form>
</div>

<div class="row mt-2">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Default.ApartmentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Default.MeterNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Default.LastIndicationDateValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Default.LastIndicationValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Default.LastVerificationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Default.NextVerificationDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int ii = 0; ii < Model.Apartments.Count(); ii++)
            {
                @using (Html.BeginForm("Index", "Apartments", new { searchString = @ViewData["SearchString"] }, FormMethod.Post))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Apartments[ii].ApartmentName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Apartments[ii].MeterNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Apartments[ii].LastIndicationDateValue)
                        </td>
                        <td>
                            @Html.HiddenFor(modelItem => Model.Apartments[ii].LastIndicationId)
                            @Html.EditorFor(modelItem => Model.Apartments[ii].LastIndicationValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Apartments[ii].LastVerificationDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Apartments[ii].NextVerificationDate)
                        </td>
                        <td>
                            <button class="btn btn-default btn-sm" type="submit" id="saveIndication">
                                Сохранить
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

